* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-direction: row-reverse;
  font-family: sans-serif;
  visibility: hidden;
  flex-wrap: wrap;
}

body.render {
  visibility: visible;
}

canvas {
  display: block;
  border-radius: 4px;
  border: 2px solid #bbb;
}

.color-palette {
  display: flex;
  width: calc(256px + 6px);
  height: 256px;
  overflow: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
}

.color-palette::-webkit-scrollbar {
  width: 6px;
}

.color-palette::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 3px;
}

.color-palette::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .9);
}

.color-palette::-webkit-scrollbar-track {
  background-color: rgba(120, 120, 120, .8);
}

.color-palette-cell {
  width: 16px;
  height: 16px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px;
}

.color-palette-cell:hover {
  border: 2px solid #ddd;
}

.current-bg-color {
  width: 32px;
  height: 32px;
  border: 3px solid #bbb;
  margin: 5px 12px;
  border-radius: 3px;
}

.buttons > a {
  display: block;
  padding: 10px 9px;
  background-color: firebrick;
  color: #fff;
  font-size: .8rem;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  width: calc(100% / 4);
  transition: 100ms ease-in-out background-color;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin: 0 4px 6px 4px;
}

.buttons > a:hover {
  background-color: tomato;
}

.buttons {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

textarea#output {
  background-color: #222;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  height: 145px;
  resize: none;
  margin: 10px;
  border-radius: 4px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  margin: 0 auto;
}

.tool-buttons {
  margin: 5px 12px;
}

.tool-button {
  background-color: #444;
  cursor: pointer;
  color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border: none;
  transition: 100ms ease-in-out background-color;
  padding: 3px;
  border-radius: 50%;
}

.tool-button > svg {
  transform: scale(.7);
}

.tool-button:hover {
  background-color: #555;
}

.tool-button:active {
  background-color: #666;
}

.tool-button.selected {
  background-color: #ddd;
  color: #444;
}